<a href="https://colab.research.google.com/github/Chetanaaa13/ML/blob/main/Practical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

data = {
    "Rooms": [2,3,4,3,5],
    "Trees": [1,2,3,2,4],
    "Type":["Apartment","Villa","Bungalow","Apartmet0","Villa"]
}
df = pd.DataFrame(data)
print("Original DataFrame")
print(df)

Original DataFrame
   Rooms  Trees       Type
0      2      1  Apartment
1      3      2      Villa
2      4      3   Bungalow
3      3      2  Apartmet0
4      5      4      Villa

In [5]:
#Normalization by min max

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['Rooms','Trees']] = scaler.fit_transform(df[['Rooms','Trees']])
print("\nDAtaFrame after Min Max Normalization")
print(df)

DAtaFrame after Min Max Normalization
      Rooms     Trees       Type
0  0.000000  0.000000  Apartment
1  0.333333  0.333333      Villa
2  0.666667  0.666667   Bungalow
3  0.333333  0.333333  Apartmet0
4  1.000000  1.000000      Villa

In [ ]:
#Where ever there will be the Maximun value we will be getting one 1 rest in 0 points

In [8]:
import pandas as pd

data = {
    "Rooms": [2,3,4,5,5],
    "Trees": [1,2,3,4,2],
    "Type":["Apartment","Villa","Bungalow","Apartmet0","Villa"]
}
df = pd.DataFrame(data)
print("Original DataFrame")
print(df)

Original DataFrame
   Rooms  Trees       Type
0      2      1  Apartment
1      3      2      Villa
2      4      3   Bungalow
3      5      4  Apartmet0
4      5      2      Villa

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['Rooms','Trees']] = scaler.fit_transform(df[['Rooms','Trees']])
print("\nDAtaFrame after Min Max Normalization")
print(df)

DAtaFrame after Min Max Normalization
      Rooms     Trees       Type
0  0.000000  0.000000  Apartment
1  0.333333  0.333333      Villa
2  0.666667  0.666667   Bungalow
3  1.000000  1.000000  Apartmet0
4  1.000000  0.333333      Villa

In [ ]:
#Discritization

In [25]:
import pandas as pd

data = {
    "Rooms": [2,3,4,3,5],
    "Trees": [1,2,3,2,4],
    "Type":["Apartment","Villa","Bungalow","Apartmet0","Villa"]
}
df_original= pd.DataFrame(data)

print("Original DataFrame")
print(df_original)

bins = [0,2.5,3.5,5.5]
labels = ['small','medium','large']
df_original[' Room_category '] = pd.cut(df_original['Rooms'],bins=bins,labels=labels,right=True)
df_original[' Trees_category '] = pd.cut(df_original['Trees'],bins=bins,labels=labels,right=True)

print("\nDataFrame after Discretization")
print(df_original)

Original DataFrame
   Rooms  Trees       Type
0      2      1  Apartment
1      3      2      Villa
2      4      3   Bungalow
3      3      2  Apartmet0
4      5      4      Villa

DataFrame after Discretization
   Rooms  Trees       Type  Room_category   Trees_category
0      2      1  Apartment           small            small
1      3      2      Villa          medium            small
2      4      3   Bungalow           large           medium
3      3      2  Apartmet0          medium            small
4      5      4      Villa           large            large

In [26]:
#Z scale

In [27]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

df[['Rooms','Trees']] = scaler.fit_transform(df[['Rooms','Trees']])
print("\nDataFrame after Z score Normalization")
print(df)

DataFrame after Z score Normalization
      Rooms     Trees       Type
0 -1.372813 -1.372813  Apartment
1 -0.392232 -0.392232      Villa
2  0.588348  0.588348   Bungalow
3 -0.392232 -0.392232  Apartmet0
4  1.568929  1.568929      Villa

In [28]:
#One Hot encoding

In [29]:
df = pd.get_dummies(df,columns=['Type'])
print("\nDataFrame after one hot encoding")
print(df)

DataFrame after one hot encoding
      Rooms     Trees  Type_Apartment  Type_Apartmet0  Type_Bungalow  \
0 -1.372813 -1.372813            True           False          False
1 -0.392232 -0.392232           False           False          False
2  0.588348  0.588348           False           False           True
3 -0.392232 -0.392232           False            True          False
4  1.568929  1.568929           False           False          False

   Type_Villa
0       False
1        True
2       False
3       False
4        True